In [2]:
import pandas as pd 
import clickhouse_connect

# GET PINPP

### PINPP OF DEFENDANTS

In [7]:
def get_pinpp_of_defendant(limit=300):
    host = "play.clickhouse.com" 
    port = 443
    user = "explorer" 
    password = ""
    query = f"""
SELECT pinpp FROM defendants
WHERE toDate(qamalganlik_sanasi) >= '2024-09-01'
ORDER BY qamalganlik_sanasi DESC
limit {limit}
    """
    client = clickhouse_connect.get_client(
        host=host,
        port=port,  
        user=user,
        password=password,
        secure=True  
    )
    query = query
    result = client.query(query)
    client.close()
    

    return result.result_rows

result=get_pinpp_of_defendant()

df=pd.DataFrame(result, columns=['PINFL', "QAMALGANLIK SANASI"])
df['JINOYATCHIMI']=1

In [19]:
df

     PINFL QAMALGANLIK SANASI  JINOYATCHIMI
0    14107         2022-03-31             1
1    14570         2022-03-31             1
2    10423         2022-03-31             1
3    11278         2022-03-31             1
4    11298         2022-03-31             1
..     ...                ...           ...
295  14869         2022-03-31             1
296  13303         2022-03-31             1
297  14843         2022-03-31             1
298  12953         2022-03-31             1
299  13303         2022-03-31             1

[300 rows x 3 columns]

### PINPP OF NORMAL HUMANS

In [45]:
def get_data_by_pinpp(pinpp_list, column, table_name, host, port, user, password):
    client = clickhouse_connect.get_client(
        host=host,
        port=port,
        user=user,
        password=password,
        secure=True 
    )

    pinpp_list_str = ", ".join([f"'{pinpp}'" for pinpp in pinpp_list])

    query = f"""
    SELECT {column}
    FROM {table_name}
    WHERE pinpp IN ({pinpp_list_str})
    """

    result = client.query(query)
    
    client.close()
    
    return [row[0] for row in result.result_rows]